
h2{
  color: maroon;
  margin-left: 40px;
}


div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    border-color: #007bff;
    height: 100%;
  }
  input[type=text], select {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-color: #007bff;
  }

  input[type=number], select {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-color: #007bff;
    border-color: #ff00594c;
  }
  input[type=numb], select {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-color: #007bff;
    box-sizing: border-box;
  }
  input[type="email"] {
    background-color: #ffffff; /* Change the background color */
    border-color: #007bff; /* Change the border color */
    color: #333; /* Change the text color */
    font-weight: bold; /* Change font weight */
    width: 100%;

   
  }
  .validation-message {
    color: red;
    font-size: 12px;
    margin-top: 1px;
  }
  